*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearFix:after,
.clearFix:before {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.flex {
  display: flex;
}
.fl {
  float: left;
}

.img {
  padding-left: 162px;
}

.news-img img {
  width: 100%;
}

.img img{
  width: 100%;
}

.img-responsive {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.d-inline-block{
  display: inline-block;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
}

header.bg-common {
  background: #029902;
  height: auto;
  width: 100%;
}
.menu-active{
  background: #f83009;
}

.menu-link.dc {
  font-size: 24px;
  font-weight: 500;
  padding: 10px 20px 10px 0;
}
.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right:10px;
}

.news-items {
  list-style: none;
  position: relative;
  padding-left: 20px;
}

.news-lists {
  margin-top: 10px;
}

.news-title {
  margin-top: 20px;
}
.news-items::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #029902;
  position: absolute;
  left: 1px;
  top: 12px;
}
.news-heading > div {
  font-size: 24px;
  color: white;
  padding: 11px 20px;
  margin: 10px 0px;
}

.news-heading {
  position: relative;
}

.heading {
  position: absolute;
  top: 0px;
  width: 1%;
  left: 459px;
  background: #ffffff;
  height: 50px;
}
.news-heading > div > h2 {
  font-size: 24px;
  color: white;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.menu-link:hover {
  background: #f83009;
}

.menu-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 15px;
}
.bg-common {
  background: #029902;
}

.menu-item{
  list-style: none;
}
header {
  width: 960px;
  margin: auto;
  background: #0091be;
  height: 150px;
  font-family: Tahoma, sans-serif;
}

.title {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}
.container {
  width: 940px;
  margin: auto;
}

footer {
  background: #029902;
  height: 178px;
  margin-top: 50px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-right: 10px;
}

main.wrapper {
  font-family: Arial, sans-serif;
}
